%head
  %title The App Under Test
  %link{rel: 'stylesheet', href: '/stylesheets/acceptance_styles.css'}

%body
  .caption-box-with-icon
    .test Invalid caption box with wrong color icon
    .caption-box-icon{style: "color: blue"} X

  .caption-box-with-icon
    .test Valid caption box
    .caption-box-icon X

  %p.really-big-text.style-cop-pattern{style: "color: blue"} Really big text that happens to be blue

  %ul.styled-list
    %li This list
    %li has an abundance
    %li of list items
    %li which should be fine
    %li really

  %ul.styled-list
    %li This list
    %p has nonsensical extraneous elements
    %li which isn't okay

  %h1 This h1 has the right styles
  %h1{style: "font-size: 48px"} This h1 has the wrong font-size styles
