%head
  %title The Gold Standard Styleguide
  %link{rel: 'stylesheet', href: '/stylesheets/acceptance_styles.css'}

%body
.caption-box-with-icon.style-cop-pattern
  .test
  .caption-box-icon.style-cop-pattern X

.really-big-text.style-cop-pattern Big Text

%ul.styled-list.style-cop-pattern
  %li Element with
  %li multiple children

%h1.style-cop-pattern A Sample H1
