.caption-box-icon {
  color: red;
  font-family: monospace;
}

.really-big-text{
  font-size: 72px;
}

.styled-list { text-transform: uppercase }

h1 { font-size: 14px; font-family: monospace; line-height: 32px; color: black }
